<img class='avatar' src='{{avatarUrl}}'>

<div class='tweet-content'>
  <div class='tweet-header'>
    <h4 class='full-name'>{{firstName}} {{lastName}}</h4>
    <span class='user-name'>@{{userName}}</span>
    <span class='tweet-time'>{{timeSincePosting}}</span>
  </div>

  <p class='tweet-text'>{{tweetText}}</p>

  <div class='tweet-actions'>
    <img class='retweets-icon' src="icon-twitter-retweet.svg">
    <span class='retweets-count'>{{retweets}}</span>

    <img class='favorites-icon' src="icon-twitter-favorite.svg">
    <span class='retweets-count'>{{favorites}}</span>
  </div>
</div>
